<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Add New Member</h1>
  </div>
  <div class="panel-body">
    <div>
      <label>Name:</label>
      <br>
      <input #newName>
    </div>

    <div>
      <label>Description:</label>
      <br>
      <textarea #newDescription></textarea>
    </div>
    <button (click)="submitForm(newName.value, newDescription.value); newName.value=''; newDescription.value=''">Add</button>
  </div>
</div>

<app-member-list></app-member-list>
