<div class="panel panel-default paragraph-width">
  <div class="panel-heading">
    <h1 class="panel-title">Add New Member</h1>
  </div>
  <div class="panel-body">
    <div>
      <label>Name:</label>
      <br>
      <input #newName size="16">
    </div>

    <div>
      <label>Description:</label>
      <br>
      <textarea #newDescription rows="5" cols="50"></textarea>
    </div>
    <button (click)="submitForm(newName.value, newDescription.value); newName.value=''; newDescription.value=''"
    class="btn btn-success">Add</button>
  </div>
</div>
<br>

<app-member-list></app-member-list>
<br>
<br>
